---
const { images = [] } = Astro.props;
---

<script>
  // Importar Swiper y los módulos necesarios
  import Swiper, {Swiper as SwiperInstance } from 'swiper';
  import { Autoplay, Navigation} from 'swiper/modules';
  import 'swiper/css';
  import 'swiper/css/navigation';

  let mainSwiper: SwiperInstance|null = null;

  // Función para inicializar Swiper
  function initializeSwiper() {
    // Destruir instancias anteriores si existen
    if (mainSwiper) {
      mainSwiper.destroy();
      mainSwiper = null;
    }

    mainSwiper = new Swiper(".swiper", {
      modules: [Navigation, Autoplay],
      spaceBetween: 40,
      centeredSlides: true,
      autoplay: {
        delay: 2000, // Ajustado a 5 segundos
        disableOnInteraction: false,
      },
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      }
    });
  }

  // Esperar a que el DOM esté listo antes de inicializar Swiper
  document.addEventListener('DOMContentLoaded', () => {
    initializeSwiper();
  });
</script>

<!-- Contenedor principal de Swiper -->
<div class="slider-container relative">
  <div class="swiper">
    <div class="swiper-wrapper">
    {images.map(image => (
      <div class="swiper-slide">
        <img src={image.src} alt={image.alt} class="w-full h-auto object-cover" />
      </div>
    ))}
  </div>
  </div>
</div>
<style>

.slider-container {
    position: absolute;
    inset: 0;
    z-index: -1; /* To make sure it stays behind the hero content */
  }

  .swiper {
    width: 100%;
    height: 100%;
    
  }

  .swiper-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    width: 100%;
    height: 100%;
  }

  .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper-button-next, .swiper-button-prev {
    color: #333333; /* Estilo para los botones de navegación */
  }
</style>